<h4 class="text-center"> Cadastrar novo usuário</h4>

<form [formGroup]="signUpForm" class="form-signin" (submit)="signUp()">
    <div class="form-group">
        <input  #loginInput 
                formControlName="login" 
                placeholder="login" 
                [ngClass]="{'form-control':true, 'is-valid': signUpForm.get('login').valid, 'is-invalid': signUpForm.get('login').errors}">
        <app-vmessage
            *ngIf="signUpForm.get('login').errors?.required" 
            text="campo obrigatório!"> 
        </app-vmessage>
        <app-vmessage 
            *ngIf="signUpForm.get('login').errors?.minlength"        
            text=" mínimo de caracteres: 2!"> 
        </app-vmessage>
        <app-vmessage 
            *ngIf="signUpForm.get('login').errors?.maxlength"       
            text=" máximo de caracteres: 30!"> 
        </app-vmessage>
        <app-vmessage 
            *ngIf="signUpForm.get('login').errors?.pattern"         
            text="apenas letras minusculas!"> 
        </app-vmessage>
        <app-vmessage 
            *ngIf="signUpForm.get('login').errors?.userNameTaken"    
            text="Usuário já cadastrado!"> 
        </app-vmessage> 
        
    </div>
    <div class="form-group">
        <input #passwordInput 
               formControlName="senha" 
               type="password" 
               placeholder="senha" 
               [ngClass]="{'form-control':true, 'is-valid': signUpForm.get('senha').valid, 'is-invalid': signUpForm.get('senha').errors}">
        <app-vmessage 
            *ngIf="signUpForm.get('senha').errors?.required" 
            text=" campo obrigatório!"> 
        </app-vmessage>
        <app-vmessage 
            *ngIf="signUpForm.get('senha').errors?.minlength" 
            text=" mínimo de caracteres: 4!"> 
        </app-vmessage>
        <app-vmessage 
            *ngIf="signUpForm.get('senha').errors?.maxlength" 
            text=" máximo de caracteres: 30!"> 
        </app-vmessage>
    </div>
    <div class="form-group">
        <input formControlName="confirmPassword" 
               type="password" 
               placeholder="confirme sua senha" 
               [ngClass]="{'form-control':true, 'is-valid': signUpForm.get('confirmPassword').valid, 'is-invalid': signUpForm.get('confirmPassword').errors}">
        <app-vmessage 
            *ngIf="signUpForm.get('confirmPassword').errors?.required" 
            text=" campo obrigatório!"> 
        </app-vmessage>
        <app-vmessage 
            *ngIf="signUpForm.get('confirmPassword').errors?.minlength" 
            text=" mínimo de caracteres: 4!"> 
        </app-vmessage>
        <app-vmessage 
            *ngIf="signUpForm.get('confirmPassword').errors?.maxlength" 
            text=" máximo de caracteres: 30!"> 
        </app-vmessage>
        <app-vmessage 
            *ngIf="signUpForm.get('confirmPassword').errors?.MatchPassword" 
            text=" Senha inválida!"> 
        </app-vmessage>
    </div>
    <button [disabled]="signUpForm.invalid || signUpForm.pending" class="btn btn-primary btn-block">Register</button>

    <p>Já é usuário?
        <a [routerLink]="['']"> Login!</a>
    </p>
</form>