<div class="container"> 
  <h3 class="mb-4">Nova conexão</h3>
  <form [formGroup]="connectionForm" (submit)="addConnection()">
    <div class="form-row">
      <div class="form-group col-md-4">
        <input formControlName="nome" 
               type="text"  
               placeholder="Equipamento"
               [ngClass]="{'form-control':true, 'is-valid': connectionForm.get('nome').valid, 'is-invalid': connectionForm.get('nome').errors}">
      </div>
      <div class="form-group col-md-4">
        <input formControlName="ip" 
               type="text"
               placeholder="IP"
               class="form-control"
               [ngClass]="{'form-control':true, 'is-valid': connectionForm.get('ip').valid, 'is-invalid': connectionForm.get('ip').errors}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <select formControlName="sw" 
                class="form-control" 
                (change)="getPortas($event.target.value)"
                [ngClass]="{'form-control':true, 'is-valid': connectionForm.get('sw').valid, 'is-invalid': connectionForm.get('sw').errors}">
          <option *ngFor="let sw of switchs$ | async" [value]="sw.id" >{{sw.nome}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <select formControlName="porta" 
                [ngClass]="{'form-control':true, 'is-valid': connectionForm.get('porta').valid, 'is-invalid': connectionForm.get('porta').errors}">
          <option *ngFor="let porta of portas$ | async" [value]="porta">{{porta}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <select formControlName="interfaceDeRede"
                [ngClass]="{'form-control':true, 'is-valid': connectionForm.get('interfaceDeRede').valid, 'is-invalid': connectionForm.get('interfaceDeRede').errors}">
          <option *ngFor="let item of interfaces" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <select formControlName="tipo"
                [ngClass]="{'form-control':true, 'is-valid': connectionForm.get('tipo').valid, 'is-invalid': connectionForm.get('tipo').errors}">
          <option *ngFor="let item of tipos" [value]="item">{{item}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <select formControlName="untags" type="text" class="form-control"  placeholder="Vlans Untagged">
            <option *ngFor="let vlan of vlans$ | async" [value]="vlan.id">{{vlan.nome}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <input formControlName="tags" type="text" class="form-control"  placeholder="Vlans Tagged">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <input formControlName="login" type="text" class="form-control"  placeholder="Login">
      </div>
      <div class="form-group col-md-4">
        <input formControlName="senha" type="text" class="form-control"  placeholder="Senha">
      </div>
      <div class="form-group">
        <div class="form-check ml-2">
          <input formControlName="monitoravel" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">Monitoravel</label>
        </div>
      </div>
    </div>
    <button [disabled]="connectionForm.invalid || connectionForm.pending" type="submit" class="btn btn-success">Cadastrar</button>  
  </form>
</div>