<header>
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">EPTV</a>
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1">{{user.sub}}</a>
            <a class="navbar-text" (click)="logout()">(Logout)</a>
        </div>
        <ng-template #login>
            <span class="navbar-text"> 
                <a [routerLink]="['']">Login</a>
            </span>
        </ng-template>
    </nav>
</header>