
<div class="text-center">
      <form [formGroup]="loginForm" class="form-signin" (submit)="login()">   
            <input #userNameInput 
                  formControlName="userName" 
                  type="text" class="form-control" placeholder="Usuário" />
            <input formControlName="password" type="password" class="form-control" placeholder="Senha"  />
            <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"/> Lembre-me
                </label>
            </div>
            <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
      <p>Não é usuário? <a [routerLink]="['signup']">Cadastre</a></p>
      <p class="mt-5 mb-3 text-muted">&copy; EPTV - 2019 - Documentação de redes</p>
</div>
