<div class="text-center m-1">
  
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="width: 15%">
                   <app-search placeholder="Equipamento" (onTyping)='filterNome = $event'></app-search>
                </th>
                <th style="width: 15%">
                    <app-search placeholder="IP" (onTyping)='filterIp = $event'></app-search>
                </th>
                <th style="width: 15%">
                    <app-search placeholder="Switch" (onTyping)='filterSwitch = $event'></app-search>
                </th>
                <th style="width: 5%">
                    Porta
                </th>
                <th style="width: 5%">
                    Localização
                </th>
                <th style="width: 5%">
                    Tipo
                </th>
                <th style="width: 5%">
                    Interface
                </th>
                <th style="width: 10%">
                    Vlans (untag)
                </th>
                <th style="width: 10%">
                    Vlans (tag)
                </th>
                <th style="width: 10%">
                    Login
                </th>
                <th style="width: 10%">
                    Senha
                </th>
                <th style="width: 5%">
                    Monitoravel
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data | filterByNome: filterNome : filterIp : filterSwitch" >
                <td>{{item.equipamento.nome}}</td>
                <td>{{item.equipamento.ip}}</td>
                <td>                  
                    <a [routerLink]="['switch',(item.sw.id)]">{{item.sw.nome}}</a>
                </td>
                <td>{{item.porta}}</td>
                <td>{{item.sw.localizacao.localizacao}}</td>
                <td>{{item.tipo}}</td>
                <td>{{item.interfaceDeRede}}</td>
                <td><span *ngFor="let untag of item.untags">{{untag.nome}} </span></td>
                <td><span *ngFor="let tag of item.tags">{{tag.nome}} </span></td>
                <td>{{item.equipamento.login}}</td>
                <td>{{item.equipamento.senha}}</td>
                <td [ngClass]="{'monitoravel' : item.equipamento.monitoravel}">
                    <span *ngIf="item.equipamento.monitoravel; else no"> 
                        Sim 
                    </span>
                    <ng-template #no>
                        <span> Não </span>
                    </ng-template>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <ngb-pagination class="d-flex justify-content-start" 
                            [collectionSize]="totalElements" 
                            [(page)]="page" 
                            (pageChange)="pageChange()"
                            [pageSize]="size">
            </ngb-pagination>
            <p class="text-center text-muted" *ngIf="!data.length">
                Nenhum registro encontrado
            </p>
        </tfoot>
    </table>
</div>
